* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(/PokeAPI-print.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px;
}

.image {
    width: 70vh;
    height: 35vh;
    position: relative;
}

.butsm {
    font-size: x-large;
    color: #ffde00;
    background-color: #3b4cca;
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    transition: 0.4s;
}

.butsm:hover {
    background-color: #142288;
}

.api {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90% 10% 0;
    text-align: center;
    color: white;
    padding: 80px;
}

.api2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    text-align: center;
    color: white;
    padding: 0px 80px;
}

.apititle {
    color: #3b4cca;
    margin-bottom: 3%;

}

.pokeapititle {
    color: #ff0000;
    margin-bottom: 3%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(/caverna2.png);
    border-image: fill 5% linear-gradient(#000, #0003, #0000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px;
}

.quadrados {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 30px;
    align-items: center;
    text-align: justify;
    width: 30%;
    font-size: large;
}

.title {
    text-align: center;
    color: #ff0000;
}

.butlink {
    color: #ffde00;
    background-color: #3b4cca;
    border-radius: 50px;
    padding: 10px;
    border: none;
    transition: 0.4s;
    margin-top: 7%;
}

.butlink:hover {
    background-color: #142288;
}

.gradiente {
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 20%, rgba(130,184,115,1) 100%);
}

a {
    text-decoration: none;
    color: #ffde00;
}

.cenario {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cenario video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

.cenario .api {
    position: absolute;
    top: 60px;
    z-index: 1;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {

    .api {
        padding: 10px;
        font-size: 0.8rem;
    }
    
    .api2 {
        padding: 10px;
        font-size: 0.8rem;
    } 

    .flexbox {
        flex-direction: column;
        padding: 50px;
    }

    .flex {
        padding: 20px;
    }

    .image {
        width: 30vh;
        height: 15vh;
    }
    
    .quadrados {
        padding: 30px;
        width: 80%;
        font-size: large;
        margin-bottom: 5%;
    }

    .title {
        font-size: 3rem;
    }

    .cenario video {
        width: 300%;
    }


}