.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    align-items: center;
    list-style-type: none;
    font-size: 15pt;
}

.header {
    background-color: #FF0000;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
}

.img1 {
    width: 20%;
}

.img1 img {
    width: 100%;
}

.img2 {
    width: 5%;
}

.img2 img {
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .nav{
        font-size: 9pt;
    }
    
}