.pokemon1 {
    position: absolute;
    bottom: -35%;
    left: 5%;   
    width: 50%;
}

.pokemon1 img {
    width: 100%;
}

.pokemon2 {
    position: absolute;
    top: 15%;
    right: 12%;   
    width: 20%; 
}

.pokemon2 img {
    width: 100%;
}

@media only screen and (max-width: 800px) {

    .pokemon1 {
        bottom: -20%;
        left: -35%;   
        width: 130%;
    }
    
    .pokemon2 {
        top: 25%;
        right: 1%;   
        width: 70%; 
    }
}